.box-one {
    background-color: #00ff00;
    height: 80px;
    width: 80px;
    margin: -25px;
    border: solid 20px red;
    padding: 15px;
    box-sizing: border-box;
}

.box-two {
    background-color: #0000ff;
    height: 80px;
    width: 80px;
    margin: -25px;
    border: solid 20px red;
    padding: 15px;
}